<tr>
	<td>
		<div class="flex-row">
		{{#if create}}
			<input type="text" class="resource-deposit-name list-search-bar resource-search-bar" id="resource-search-bar" data-id="{{resourceID}}" value="{{name}}" {{#if readonly}}readonly{{/if}}>
		{{else}}
			<div class="color-swab" style="background-color: {{color}};"></div>
			<div data-id="{{resourceID}}">{{name}}</div>
		{{/if}}
		</div>
	</td>
	<td><input type="number" class="resource-deposit-quantity" min="1" value="{{quantity}}" {{#if readonly}}readonly{{/if}}></td>
	<td>
		{{#unless readonly}}
		<button type="button" onclick="createDeleteModalWithCallback('/resource-deposits/delete/', {resourceID: this.parentElement.parentElement.firstElementChild.lastElementChild.lastElementChild.dataset.id, bodyID: {{bodyID}} }, () => {setResourceAvailability(this.parentElement.parentElement.firstElementChild.lastElementChild.lastElementChild.dataset.id, true); moveResourceSearchList(); this.parentElement.parentElement.remove()}, {{create}})">Delete</button>
		{{/unless}}
	</td>
</tr>
