<tr>
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td>{{orbitalRadius}}</td>
    <td>{{theta}}</td>
    <td>
        <button type="button" id="body-view-button" onclick="window.location.replace('/bodies/view/{{bodyID}}')">View</button>
        <button type="button" id="body-edit-button" onclick="window.location.replace('/bodies/edit/{{bodyID}}')">Edit</button>
        <button type="button" id="body-delete-button" onclick="createDeleteModal('/bodies/delete/', {{bodyID}})">Delete</button>
    </td>
</tr>
