<tr>
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td>{{orbital_radius}}</td>
    <td>{{theta}}</td>
    <td>
        <button type="button" id="body-view-button" onclick="window.location.replace('/bodies/view/{{id}}')">View</button>
        <button type="button" id="body-edit-button" onclick="window.location.replace('/bodies/edit/{{id}}')">Edit</button>
        <button type="button" id="body-delete-button" onclick="alert('TODO');">Delete</button>
    </td>
</tr>
