<tr>
    <td>{{name}}</td>
    <td>{{aggressiveness}}</td>
    <td>
        <div class="flex-row">
            <div class="color-swab" style="background-color: {{primary_color}};"></div>
            <div>{{primaryColor}}</div>
        </div>
    </td>
    <td>
        <div class="flex-row">
            <div class="color-swab" style="background-color: {{secondary_color}};"></div>
            <div>{{secondaryColor}}</div>
        </div>
    </td>
    <td>{{isFallenEmpire}}</td>
    <td>
		<button type="button" id="empire-view-button" onclick="window.location.replace('/empires/view/{{empireID}}')">View</button>
        <button type="button" id="empire-edit-button" onclick="window.location.replace('/empires/edit/{{empireID}}')">Edit</button>
        <button type="button" id="empire-delete-button" onclick="createDeleteModal('/empires/delete/', {{empireID}})">Delete</button>
    </td>
</tr>
