<tr>
    <td>{{name}}</td>
    <td>{{aggressiveness}}</td>
    <td>
        <div class="flex-row">
            <div class="color-swab" style="background-color: {{primary_color}};"></div>
            <div>{{primaryColor}}</div>
        </div>
    </td>
    <td>
        <div class="flex-row">
            <div class="color-swab" style="background-color: {{secondary_color}};"></div>
            <div>{{secondaryColor}}</div>
        </div>
    </td>
    <td>{{isFallenEmpire}}</td>
    <td>
		<a href="/empires/view/{{empireID}}"><button type="button" id="empire-view-button">View</button></a>
        <a href="/empires/edit/{{empireID}}"><button type="button" id="empire-edit-button">Edit</button></a>
        <button type="button" id="empire-delete-button" onclick="createDeleteModal('/empires/delete/', {{empireID}})">Delete</button>
    </td>
</tr>
