<tr>
    <td>{{name}}</td>
    <td>{{aggressiveness}}</td>
    <td>{{primary_color}}</td>
    <td>{{secondary_color}}</td>
    <td>{{fallen_empire}}</td>
    <td>
        <button type="button" id="empire-edit-button" onclick="alert('TODO');">Edit</button>
        <button type="button" id="empire-delete-button" onclick="alert('TODO');">Delete</button>
    </td>
</tr>