<tr>
    <td>{{name}}</td>
    <td>{{aggressiveness}}</td>
    <td>
        <div class="flex-row">
            <div class="color-swab" style="background-color: {{primary_color}};"></div>
            <div>{{primary_color}}</div>
        </div>
    </td>
    <td>
        <div class="flex-row">
            <div class="color-swab" style="background-color: {{secondary_color}};"></div>
            <div>{{secondary_color}}</div>
        </div>
    </td>
    <td>{{fallen_empire}}</td>
    <td>
		<button type="button" id="empire-view-button" onclick="window.location.replace('/empires/view/{{id}}')">View</button>
        <button type="button" id="empire-edit-button" onclick="window.location.replace('/empires/edit/{{id}}')">Edit</button>
        <button type="button" id="empire-delete-button" onclick="createDeleteModal('/empires/delete/', {{id}})">Delete</button>
    </td>
</tr>
