<tr>
    <td>{{system1Name}}</td>
    <td>{{system2Name}}</td>
    <td>
        <button type="button" id="hyperlane-highlight-button" onclick="highlightHyperlane({{system1ID}}, {{system2ID}});">Highlight</button>
        <button type="button" id="hyperlane-delete-button" onclick="createDeleteModalWithCallback('/hyperlanes/delete/', {system1ID: {{system1ID}}, system2ID: {{system2ID}} }, () => { window.location.reload() } )">Delete</button>
    </td>
</tr>
