<tr>
    <td>{{name}}</td>
    <td>{{#if (isEqual baseMarketValue NULL)}}N/A{{else}}{{baseMarketValue}}{{/if}}</td>
    <td>
        <div class="flex-row">
            <div class="color-swab" style="background-color: {{color}};"></div>
            <div>{{color}}</div>
        </div>
    </td>
    <td>
		<a href="/resources/view/{{resourceID}}"><button type="button" id="resource-view-button">View</button></a>
        <a href="/resources/edit/{{resourceID}}"><button type="button" id="resource-edit-button">Edit</button></a>
        <button type="button" id="resource-delete-button" onclick="createDeleteModal('/resources/delete/', {{resourceID}})">Delete</button>
    </td>
</tr>
