<tr>
    <td>{{name}}</td>
    <td>{{base_market_value}}</td>
    <td>
        <div class="flex-row">
            <div class="color-swab" style="background-color: {{color}};"></div>
            <div>{{color}}</div>
        </div>
    </td>
    <td>
		<button type="button" id="resource-view-button" onclick="window.location.replace('/resources/view/{{id}}')">View</button>
        <button type="button" id="resource-edit-button" onclick="window.location.replace('/resources/edit/{{id}}')">Edit</button>
        <button type="button" id="resource-delete-button" onclick="alert('TODO');">Delete</button>
    </td>
</tr>
