<tr>
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td>{{orbitalRadius}}</td>
    <td>{{theta}}</td>
    <td>
        <button type="button" id="system-view-button" onclick="window.location.replace('/systems/view/{{systemID}}')">View</button>
        <button type="button" id="system-edit-button" onclick="window.location.replace('/systems/edit/{{systemID}}')">Edit</button>
        <button type="button" id="system-delete-button" onclick="createDeleteModal('/systems/delete/', {{systemID}})">Delete</button>
    </td>
</tr>
