<main>
	<script src="/templates/empire_resource_stock_item.js" defer></script>
	<script>
		function returnToListPage() {
			window.location = document.referrer;
		}

		function editCancel() {
			returnToListPage();
		}

		function editAccept() {
			var creationForm = document.forms["empire-form"];
			var empireContext = {
{{#unlessEquals type "create"}}
				empireID: {{empire.empireID}},
{{/unlessEquals}}
				name: creationForm["empire-name"].value,
				aggressiveness: creationForm["empire-aggressiveness"].value,
				primaryColor: creationForm["empire-primary-color"].value.toUpperCase(),
				secondaryColor: creationForm["empire-secondary-color"].value.toUpperCase(),
				isFallenEmpire: creationForm["empire-is-fallen"].checked
			};

			empireContext.resourceStocks = [];
			var resourceStocks = document.getElementsByClassName("resource-stock-quantity");
			for (var i = 0; i < resourceStocks.length; i++) {
				var resourceStock = resourceStocks[i];
				empireContext.resourceStocks.push({
					resourceID: resourceStock.parentElement.parentElement.firstElementChild.lastElementChild.dataset.id,
					quantity: resourceStock.value
				});
			}

{{#switch type}}
	{{#case "create"}}
			postToServer("/empires/add", empireContext);
	{{/case}}
	{{#case "edit"}}
			postToServer("/empires/update/{{empire.empireID}}", empireContext);
	{{/case}}
{{/switch}}
			returnToListPage();
		}

		function createNewResourceStock() {
			var resourceStockList = document.getElementById("resource-stock-list");
			var resourceStockHTML = Handlebars.templates.empireResourceStockItem({
				type: "{{type}}",
{{#unlessEquals type "create"}}
				empireID: {{empire.empireID}},
{{/unlessEquals}}
				create: true
			});
			resourceStockList.insertAdjacentHTML("beforeend", resourceStockHTML);
			var newStock = resourceStockList.lastElementChild;
			registerNewSearchBar("resource-search-bar", "resource-search-list");
		}

		window.addEventListener("DOMContentLoaded", function() {
			document.getElementById("cancel-button").addEventListener("click", editCancel);

			var accept_button = document.getElementById("accept-button");
			if (accept_button) accept_button.addEventListener("click", editAccept);

{{#unlessEquals type "view"}}
			var resourceSearchList = JSON.parse(decodeURIComponent("{{{encoded_resource_search_list}}}"));
			setupSearchList(resourceSearchList, [], "resource-search-list", "resourceID", "name", false, (searchBar) => {
				var resource = resourceSearchList.find(e => e.resourceID == searchBar.dataset.id);

				var parent = searchBar.parentElement;

				var resourceElement = document.createElement("div");
				resourceElement.classList.add("flex-row");

				var resourceColorSwab = document.createElement("div");
				resourceColorSwab.classList.add("color-swab");
				resourceColorSwab.style.backgroundColor = resource.color;
				resourceElement.appendChild(resourceColorSwab);


				var resourceName = document.createElement("div");
				resourceName.dataset.id = searchBar.dataset.id;
				resourceName.innerHTML = searchBar.value;
				resourceElement.appendChild(resourceName);

				parent.appendChild(resourceElement);

				searchBar.remove();
			}, (searchList, searchBar) => {
				var searchListContainer = document.getElementById("resource-search-list-container");
				searchListContainer.appendChild(searchList);
				searchBar.parentElement.parentElement.remove();
			});
{{/unlessEquals}}

			{{#unlessEquals type "create"}}
				var hyperlanes = [];
				var systems = JSON.parse(decodeURIComponent("{{{encoded_systems}}}"));
				drawGalaxyView(hyperlanes, systems);
			{{/unlessEquals}}
		});
	</script>
	<div class="page-container has-right-col">
        <div class="left-col">
			<h2>
				{{#switch type}}
					{{#case "view"}} View Empire {{/case}}
					{{#case "create"}} Create New Empire {{/case}}
					{{#case "edit"}} Edit Empire {{/case}}
				{{/switch}}
			</h2>
			<form name="empire-form" {{#ifEquals type "view"}}class="immutable"{{/ifEquals}}>
				<table>
					<tr>
						<td>
							<label>Name:</label>
						</td>
						<td>
							<input type="text" id="empire-name" name="empire-name" value="{{empire.name}}" {{#ifEquals type "view"}}readonly{{/ifEquals}}>
						</td>
					</tr>
					<tr>
						<td>
							<label>Aggressiveness:</label>
						</td>
						<td>
							<input type="radio" id="empire-aggressiveness-passive" name="empire-aggressiveness" value="passive" {{#if (isEqual empire.aggressiveness "passive")}}checked{{else}}{{#ifEquals type "view"}}disabled{{/ifEquals}}{{/if}}>
							<label for="empire-aggressiveness-passive">Passive</label><br>
							<input type="radio" id="empire-aggressiveness-moderate" name="empire-aggressiveness" value="moderate" {{#if (isEqual empire.aggressiveness "moderate")}}checked{{else}}{{#ifEquals type "view"}}disabled{{/ifEquals}}{{/if}}>
							<label for="empire-aggressiveness-moderate">Moderate</label><br>
							<input type="radio" id="empire-aggressiveness-aggressive" name="empire-aggressiveness" value="aggressive" {{#if (isEqual empire.aggressiveness "aggressive")}}checked{{else}}{{#ifEquals type "view"}}disabled{{/ifEquals}}{{/if}}>
							<label for="empire-aggressiveness-aggressive">Aggressive</label><br>
						</td>
					</tr>
					<tr>
						<td>
							<label>Primary Color:</label>
						</td>
						<td>
							<input type="color" id="empire-primary-color" name="empire-primary-color" value="{{empire.primaryColor}}" {{#ifEquals type "view"}}disabled{{/ifEquals}}>
						</td>
					</tr>
					<tr>
						<td>
							<label>Secondary Color:</label>
						</td>
						<td>
							<input type="color" id="empire-secondary-color" name="empire-secondary-color"value="{{empire.secondaryColor}}" {{#ifEquals type "view"}}disabled{{/ifEquals}}>
						</td>
					</tr>
					<tr>
						<td>
							<label>Fallen Empire:</label>
						</td>
						<td>
							<input type="checkbox" id="empire-is-fallen" name="empire-is-fallen" {{#if empire.isFallenEmpire}}checked{{/if}} {{#ifEquals type "view"}}disabled{{/ifEquals}}>
						</td>
					</tr>
				</table>
			</form>
			<div>
				<h3>Resource Stocks</h3>
				{{#unlessEquals type "view"}}
				<button type="button" onclick="createNewResourceStock()">Create New Resource Stock</button>
				{{/unlessEquals}}
				<table id="resource-stock-table">
					<thead>
						<tr>
							<th>Resource</th>
							<th>Quantity</th>
						</tr>
					</thead>
					<tbody id="resource-stock-list">
						{{#each empire_resource_stocks}}
							{{> empireResourceStockItem empireID=../empire.empireID readonly=(isEqual ../type "view") }}
						{{/each}}
					</tbody>
				</table>
			</div>
			<div id="resource-search-list-container">
				<div id="resource-search-list" class="search-list hidden" tabindex="-1"></div>
			</div>
			<div>
				<h3>Owned Systems</h3>
				<table id="owned-systems-table">
					<thead>
						<tr>
							<th>Name</th>
							<th></th>
						</tr>
					</thead>
					<tbody id="owned-systems-list">
						{{#each owned_systems}}
							{{> empireSystemItem readonly=(isEqual ../type "view") }}
						{{/each}}
					</tbody>
				</table>
			</div>
			<div>
				{{#unlessEquals type "view"}}
				<button id="accept-button">
					{{#switch type}}
						{{#case "create"}} Create {{/case}}
						{{#case "edit"}} Save {{/case}}
					{{/switch}}
				</button>
				{{/unlessEquals}}
				<button id="cancel-button">
					{{#switch type}}
						{{#case "view"}} Return {{/case}}
						{{#case "create"}} Cancel {{/case}}
						{{#case "edit"}} Cancel {{/case}}
					{{/switch}}
				</button>
			</div>
		</div>
		<div class="right-col">
			{{#unlessEquals type "create"}}
				{{> galaxyView}}
			{{/unlessEquals}}
		</div>
	</div>
</main>

