<main>
	<script>
		function returnToListPage() {
			window.history.back();
		}

		function editCancel() {
			returnToListPage();
		}

		function editAccept() {
			var creationForm = document.forms["system-form"];
			var systemContext = {
{{#unlessEquals type "create"}}
				systemID: {{system.systemID}},
{{/unlessEquals}}
				name: creationForm["system-name"].value,
				type: creationForm["system-type"].value,
				orbitalRadius: creationForm["system-orbital-radius"].value,
				theta: creationForm["system-theta"].value,
				owningEmpireID: creationForm["owning-empire-name"].dataset.id
			};
{{#switch type}}
	{{#case "create"}}
			postToServer("/systems/add", systemContext);
	{{/case}}
	{{#case "edit"}}
			postToServer("/systems/update/{{system.systemID}}", systemContext);
	{{/case}}
{{/switch}}
			returnToListPage();
		}

		window.addEventListener("DOMContentLoaded", function() {
			document.getElementById("cancel-button").addEventListener("click", editCancel);

			var accept_button = document.getElementById("accept-button");
			if (accept_button) accept_button.addEventListener("click", editAccept);

{{#unlessEquals type "view"}}
			var empire_search_list = JSON.parse(decodeURIComponent("{{{encoded_empire_search_list}}}"));
			setupSearchList(empire_search_list, "empire-search-container", "empire-search-bar", "empire-search-list", "empireID", "name", true);
{{/unlessEquals}}

{{#unlessEquals type "create"}}
			var system = JSON.parse(decodeURIComponent("{{{encoded_system}}}"));
			var system_bodies = JSON.parse(decodeURIComponent("{{{encoded_system_bodies}}}"));
			drawSystemView(system, system_bodies);
{{/unlessEquals}}
		});
	</script>
	<div class="page-container has-right-col">
		<div class="left-col">
			<h2>
				{{#switch type}}
					{{#case "view"}} View System {{/case}}
					{{#case "create"}} Create New System {{/case}}
					{{#case "edit"}} Edit System {{/case}}
				{{/switch}}
			</h2>
			<form name="system-form" {{#ifEquals type "view"}}class="immutable"{{/ifEquals}}>
				<table>
					<tr>
						<td>
							<label>Name:</label>
						</td>
						<td>
							<input type="text" id="system-name" name="system-name" value="{{system.name}}" {{#ifEquals type "view"}}readonly{{/ifEquals}}>
						</td>
					</tr>
					<tr>
						<td>
							<label>Type:</label>
						</td>
						<td>
							<select id="system-type" name="system-type" {{#ifEquals type "view"}}disabled{{/ifEquals}}>
								<option value="unary" {{#ifEquals system.type "unary"}}selected{{/ifEquals}}>Unary</option>
								<option value="binary" {{#ifEquals system.type "binary"}}selected{{/ifEquals}}>Binary</option>
								<option value="trinary" {{#ifEquals system.type "trinary"}}selected{{/ifEquals}}>Trinary</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<label>Orbital Radius:</label>
						</td>
						<td>
							<input type="number" id="system-orbital-radius" name="system-orbital-radius" min="0.1" max="1.0" value="{{system.orbitalRadius}}" step="0.01" {{#ifEquals type "view"}}readonly{{/ifEquals}}>
						</td>
					</tr>
					<tr>
						<td>
							<label>Theta:</label>
						</td>
						<td>
							<input type="number" id="system-theta" name="system-theta" min="0" max="360" value="{{system.theta}}" {{#ifEquals type "view"}}readonly{{/ifEquals}}>
						</td>
					</tr>
					<tr>
						<td>
							<label>Owning Empire:</label>
						</td>
						<td id="empire-search-container">
							<input type="text" id="empire-search-bar" class="list-search-bar" name="owning-empire-name" data-id="{{system.empireID}}" value="{{owning_empire_name}}" {{#ifEquals type "view"}}readonly{{/ifEquals}}>
							<div class="search-list hidden" id="empire-search-list" tabindex="-1"></div>
							{{#unlessEquals system.empireID NULL}}
							<a href="/empires/view/{{system.empireID}}"><button type="button" id="system-go-to-owning-empire-button">Go To</button></a>
							{{/unlessEquals}}
						</td>
				</table>
			</form>
			<div>
				<h3>Bodies</h3>
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Type</th>
							<th></th>
						</tr>
					</thead>
					<tbody id="body-table">
						{{#each system_bodies}}
							{{> systemBodyItem}}
						{{/each}}
					</tbody>
				</table>
			</div>
			{{#unlessEquals type "view"}}
			<button id="accept-button">
				{{#switch type}}
					{{#case "create"}} Create {{/case}}
					{{#case "edit"}} Save {{/case}}
				{{/switch}}
			</button>
			{{/unlessEquals}}
			<button id="cancel-button">
				{{#switch type}}
					{{#case "view"}} Return {{/case}}
					{{#case "create"}} Cancel {{/case}}
					{{#case "edit"}} Cancel {{/case}}
				{{/switch}}
			</button>
		</div>
		<div class="right-col">
			{{> systemView}}
		</div>
	</div>
</main>

