<main>
	<script>
		function returnToListPage() {
			window.history.back();
		}

		function editCancel() {
			returnToListPage();
		}

		function editAccept() {
			var creationForm = document.forms["body-form"];
			var bodyContext = {
{{#unlessEquals type "create"}}
				bodyID: {{body.bodyID}} + "",
{{/unlessEquals}}
				name: creationForm["body-name"].value,
				type: creationForm["body-type"].value,
				orbitalRadius: creationForm["body-orbital-radius"].value,
				theta: creationForm["body-theta"].value,
				parentSystemID: creationForm["parent-system-name"].dataset.id
			};
{{#switch type}}
	{{#case "create"}}
			postToServer("/bodies/add", bodyContext);
	{{/case}}
	{{#case "edit"}}
			postToServer("/bodies/update/{{body.bodyID}}", bodyContext);
	{{/case}}
{{/switch}}
			returnToListPage();
		}

		window.addEventListener("DOMContentLoaded", function() {
			document.getElementById("cancel-button").addEventListener("click", editCancel);

			var accept_button = document.getElementById("accept-button");
			if (accept_button) accept_button.addEventListener("click", editAccept);

{{#unlessEquals type "view"}}
			var system_search_list = JSON.parse(decodeURIComponent("{{{encoded_system_search_list}}}"));
			setupSearchList(system_search_list, "system-search-container", "system-search-bar", "system-search-list", "systemID", "name", false);
{{/unlessEquals}}
		});
	</script>
	<div class="page-container">
		<h2>
			{{#switch type}}
				{{#case "view"}} View Body {{/case}}
				{{#case "create"}} Create New Body {{/case}}
				{{#case "edit"}} Edit Body {{/case}}
			{{/switch}}
		</h2>
		<form name="body-form" {{#ifEquals type "view"}}class="immutable"{{/ifEquals}}>
			<table>
				<tr>
					<td>
						<label>Name:</label>
					</td>
					<td>
						<input type="text" id="body-name" name="body-name" value="{{body.name}}" {{#ifEquals type "view"}}readonly{{/ifEquals}}>
					</td>
				</tr>
				<tr>
					<td>
						<label>Type:</label>
					</td>
					<td>
						<select id="body-type" name="body-type" {{#ifEquals type "view"}}disabled{{/ifEquals}}>
							<option value="planet" {{#ifEquals body.type "planet"}}selected{{/ifEquals}}>Planet</option>
							<option value="asteroid" {{#ifEquals body.type "asteroid"}}selected{{/ifEquals}}>Asteroid</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label>Orbital Radius:</label>
					</td>
					<td>
						<input type="number" id="body-orbital-radius" name="body-orbital-radius" min="0.1" max="1.0" value="{{body.orbitalRadius}}" step="0.01" {{#ifEquals type "view"}}readonly{{/ifEquals}}>
					</td>
				</tr>
				<tr>
					<td>
						<label>Theta:</label>
					</td>
					<td>
						<input type="number" id="body-theta" name="body-theta" min="0" max="360" value="{{body.theta}}" {{#ifEquals type "view"}}readonly{{/ifEquals}}>
					</td>
				</tr>
				<tr>
					<td>
						<label>Parent System:</label>
					</td>
					<td>
						<input type="text" id="system-search-bar" class="list-search-bar" name="parent-system-name" data-id="{{body.systemID}}" value="{{parent_system_name}}" {{#ifEquals type "view"}}readonly{{/ifEquals}}>
						<div class="search-list hidden" id="system-search-list" tabindex="-1"></div>
				</tr>
			</table>
		</form>
		<div>
			{{#unlessEquals type "view"}}
			<button id="accept-button">
				{{#switch type}}
					{{#case "create"}} Create {{/case}}
					{{#case "edit"}} Save {{/case}}
				{{/switch}}
			</button>
			{{/unlessEquals}}
			<button id="cancel-button">
				{{#switch type}}
					{{#case "view"}} Return {{/case}}
					{{#case "create"}} Cancel {{/case}}
					{{#case "edit"}} Cancel {{/case}}
				{{/switch}}
			</button>
		</div>
	</div>
</main>

